<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению
<center>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br> 

Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории). Для отправки решений используйте [онлайн-форму](https://docs.google.com/forms/d/1xAzU-5N6oEeR4UG8G44V6XL-Kbr4WYcPBG45Kijge2Y).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('../../data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [89]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст (признак *age*) женщин?**

In [5]:
data[data['sex'] == 'Female']['age'].mean()

36.85823043357163

**3. Какова доля граждан Германии (признак *native-country*)?**

In [6]:
data['native-country'].value_counts(normalize=True)

United-States                 0.895857
Mexico                        0.019748
?                             0.017905
Philippines                   0.006081
Germany                       0.004207
Canada                        0.003716
Puerto-Rico                   0.003501
El-Salvador                   0.003255
India                         0.003071
Cuba                          0.002918
England                       0.002764
Jamaica                       0.002488
South                         0.002457
China                         0.002303
Italy                         0.002242
Dominican-Republic            0.002150
Vietnam                       0.002058
Guatemala                     0.001966
Japan                         0.001904
Poland                        0.001843
Columbia                      0.001812
Taiwan                        0.001566
Haiti                         0.001351
Iran                          0.001321
Portugal                      0.001136
Nicaragua                     0.001044
Peru                          0.000952
Greece                        0.000891
France                        0.000891
Ecuador                       0.000860
Ireland                       0.000737
Hong                          0.000614
Cambodia                      0.000584
Trinadad&Tobago               0.000584
Laos                          0.000553
Thailand                      0.000553
Yugoslavia                    0.000491
Outlying-US(Guam-USVI-etc)    0.000430
Honduras                      0.000399
Hungary                       0.000399
Scotland                      0.000369
Holand-Netherlands            0.000031
Name: native-country, dtype: float64

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [7]:
print(data[data['salary'] == '>50K']['age'].mean(),
      data[data['salary'] == '>50K']['age'].std())
print(data[data['salary'] == '<=50K']['age'].mean(),
      data[data['salary'] == '<=50K']['age'].std())

44.24984058155847 10.51902771985177
36.78373786407767 14.020088490824813

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [98]:
print(data[data['salary'] == '>50K']['education'].value_counts())

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [19]:
for key in data.groupby(['race', 'sex']):
    print (key[0], key[1]['age'].describe())

('Amer-Indian-Eskimo', 'Female') count    119.000000
mean      37.117647
std       13.114991
min       17.000000
25%       27.000000
50%       36.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64
('Amer-Indian-Eskimo', 'Male') count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64
('Asian-Pac-Islander', 'Female') count    346.000000
mean      35.089595
std       12.300845
min       17.000000
25%       25.000000
50%       33.000000
75%       43.750000
max       75.000000
Name: age, dtype: float64
('Asian-Pac-Islander', 'Male') count    693.000000
mean      39.073593
std       12.883944
min       18.000000
25%       29.000000
50%       37.000000
75%       46.000000
max       90.000000
Name: age, dtype: float64
('Black', 'Female') count    1555.000000
mean       37.854019
std        12.637197
min        17.000000
25%        28.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
('Black', 'Male') count    1569.000000
mean       37.682600
std        12.882612
min        17.000000
25%        27.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
('Other', 'Female') count    109.000000
mean      31.678899
std       11.631599
min       17.000000
25%       23.000000
50%       29.000000
75%       39.000000
max       74.000000
Name: age, dtype: float64
('Other', 'Male') count    162.000000
mean      34.654321
std       11.355531
min       17.000000
25%       26.000000
50%       32.000000
75%       42.000000
max       77.000000
Name: age, dtype: float64
('White', 'Female') count    8642.000000
mean       36.811618
std        14.329093
min        17.000000
25%        25.000000
50%        35.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
('White', 'Male') count    19174.000000
mean        39.652498
std         13.436029
min         17.000000
25%         29.000000
50%         38.000000
75%         49.000000
max         90.000000
Name: age, dtype: float64

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [102]:
data['is_married'] = (
    (data['marital-status'] == 'Married-civ-spouse') |
    (data['marital-status'] == 'Married-spouse-absent') |
    (data['marital-status'] == 'Married-AF-spouse')
)
pd.crosstab(data['is_married'], data['salary'])

salary      <=50K  >50K
is_married
False       16039  1105
True         8681  6736

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [88]:
print(data['hours-per-week'].max())
print(data[data['hours-per-week'] == data['hours-per-week'].max()].shape[0])
print(data[data['hours-per-week'] == data['hours-per-week'].max()]['salary'].value_counts(normalize=True))

99
85
<=50K    0.705882
>50K     0.294118
Name: salary, dtype: float64

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [77]:
for key in data.groupby(['native-country', 'salary']):
    print (key[0], key[1]['hours-per-week'].mean())

('?', '<=50K') 40.16475972540046
('?', '>50K') 45.54794520547945
('Cambodia', '<=50K') 41.416666666666664
('Cambodia', '>50K') 40.0
('Canada', '<=50K') 37.91463414634146
('Canada', '>50K') 45.64102564102564
('China', '<=50K') 37.38181818181818
('China', '>50K') 38.9
('Columbia', '<=50K') 38.68421052631579
('Columbia', '>50K') 50.0
('Cuba', '<=50K') 37.98571428571429
('Cuba', '>50K') 42.44
('Dominican-Republic', '<=50K') 42.338235294117645
('Dominican-Republic', '>50K') 47.0
('Ecuador', '<=50K') 38.041666666666664
('Ecuador', '>50K') 48.75
('El-Salvador', '<=50K') 36.03092783505155
('El-Salvador', '>50K') 45.0
('England', '<=50K') 40.483333333333334
('England', '>50K') 44.53333333333333
('France', '<=50K') 41.05882352941177
('France', '>50K') 50.75
('Germany', '<=50K') 39.13978494623656
('Germany', '>50K') 44.97727272727273
('Greece', '<=50K') 41.80952380952381
('Greece', '>50K') 50.625
('Guatemala', '<=50K') 39.36065573770492
('Guatemala', '>50K') 36.666666666666664
('Haiti', '<=50K') 36.325
('Haiti', '>50K') 42.75
('Holand-Netherlands', '<=50K') 40.0
('Honduras', '<=50K') 34.333333333333336
('Honduras', '>50K') 60.0
('Hong', '<=50K') 39.142857142857146
('Hong', '>50K') 45.0
('Hungary', '<=50K') 31.3
('Hungary', '>50K') 50.0
('India', '<=50K') 38.233333333333334
('India', '>50K') 46.475
('Iran', '<=50K') 41.44
('Iran', '>50K') 47.5
('Ireland', '<=50K') 40.94736842105263
('Ireland', '>50K') 48.0
('Italy', '<=50K') 39.625
('Italy', '>50K') 45.4
('Jamaica', '<=50K') 38.23943661971831
('Jamaica', '>50K') 41.1
('Japan', '<=50K') 41.0
('Japan', '>50K') 47.958333333333336
('Laos', '<=50K') 40.375
('Laos', '>50K') 40.0
('Mexico', '<=50K') 40.00327868852459
('Mexico', '>50K') 46.57575757575758
('Nicaragua', '<=50K') 36.09375
('Nicaragua', '>50K') 37.5
('Outlying-US(Guam-USVI-etc)', '<=50K') 41.857142857142854
('Peru', '<=50K') 35.06896551724138
('Peru', '>50K') 40.0
('Philippines', '<=50K') 38.065693430656935
('Philippines', '>50K') 43.032786885245905
('Poland', '<=50K') 38.166666666666664
('Poland', '>50K') 39.0
('Portugal', '<=50K') 41.93939393939394
('Portugal', '>50K') 41.5
('Puerto-Rico', '<=50K') 38.470588235294116
('Puerto-Rico', '>50K') 39.416666666666664
('Scotland', '<=50K') 39.44444444444444
('Scotland', '>50K') 46.666666666666664
('South', '<=50K') 40.15625
('South', '>50K') 51.4375
('Taiwan', '<=50K') 33.774193548387096
('Taiwan', '>50K') 46.8
('Thailand', '<=50K') 42.86666666666667
('Thailand', '>50K') 58.333333333333336
('Trinadad&Tobago', '<=50K') 37.05882352941177
('Trinadad&Tobago', '>50K') 40.0
('United-States', '<=50K') 38.79912723305605
('United-States', '>50K') 45.50536884674383
('Vietnam', '<=50K') 37.193548387096776
('Vietnam', '>50K') 39.2
('Yugoslavia', '<=50K') 41.6
('Yugoslavia', '>50K') 49.5